<div class="booth-container">
  <h1 class="booth-title">🎉 Instabooth Photo Fun 🎥</h1>
  <video #video width="320" height="240" autoplay  [ngStyle]="{ filter: selectedFilter }"></video>
<div class="filter-tabs">
  <button
    *ngFor="let filter of filters"
    [class.active]="selectedFilter === filter.value"
    (click)="applyFilter(filter.value)"
  >
    {{ filter.name }}
  </button>
</div>
  <button (click)="startPhotoSession()" [disabled]="isCapturing">
    Start Photo Booth
  </button>

  <div *ngIf="isCapturing" class="countdown">
    📸 Taking photo in {{ countdown }}...
  </div>

  <div class="thumbnails">
    <img *ngFor="let photo of photos" [src]="photo" width="100" />
  </div>

  <button *ngIf="photos.length === 3" (click)="downloadCollage()">
    Download Collage
  </button>

  <canvas #canvas hidden></canvas>
</div>
